.header-margin {
    margin-bottom: 2px; /* Adjust the value as needed */
}

.header-style {
    font-size: 12px; /* Adjust the value as needed */
}


.checkbox-dev-score input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.checkbox-dev-score input[type="checkbox"]:checked {
    background-color: #4CAF50; /* Change the box color when checked */
}

.checkbox-dev-score label {
    font-size: 16px; /* Change the font size */
}
